{% extends 'base.html' %}

{% block title %}
FlightFare
{% endblock title %}


{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock custom_css %}


{% block body %}
<!-- nav bar -->

<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top" style="background-color:dodgerblue;">
    <a class="navbar-brand" href="/">Indian Flight Fare Predictor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/reenasheoran/Flight_Fare_MLOP">Source-Code</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <!-- nav bar ends -->
    <br>
    <br>
    <div class="container-fluid masthead">
        
        <br>
      <center> <div class="container">
            <div class="row">
                <div class="col">
                    <form method="POST">
                        <!-- Input block-->
                        <div class="form-group">
                            <label for="translation">
                                <div style="color:black">
                                    <h2><center><i>FLIGHT FARE PREDICTION</i></center></h2>
                                   <center><div class="row">
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Departure Date and Time</h5>
                                                    <!-- Departure -->
                                                    <input type="datetime-local" name="Dep_Time" id="Dep_Time" required="required">
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Arrival Date and Time</h5>
                                                    <!-- Arrival -->
                                                    <input type="datetime-local" name="Arrival_Time" id="Arrival_Time" required="required">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <br>
                                   
                        
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <!-- Source -->
                                                    <h5 class="card-title">Starting City</h5>
                                                    <select name="source" id="source" required="required">
                                                        <option value="">--Select--</option>
                                                        <option value="Delhi">Delhi</option>
                                                        <option value="Kolkata">Kolkata</option>
                                                        <option value="Mumbai">Mumbai</option>
                                                        <option value="Chennai">Chennai</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Destination City</h5>
                                                    <!-- Destination -->
                                                    <select name="destination" id="destination" required="required">
                                                        <option value="">--Select--</option>
                                                        <option value="Cochin">Cochin</option>
                                                        <option value="Delhi">Delhi</option>
                                                        <option value="Hyderabad">Hyderabad</option>
                                                        <option value="Kolkata">Kolkata</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                        
                        
                                    <br>
                                    
                        
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Number of Stops</h5>
                                                    <!-- Total Stops -->
                                                    <select name="stops" required="required">
                                                        <option value="">--Select--</option>
                                                        <option value="0">Non-Stop</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Airline</h5>
                                                    <!-- Airline -->
                                                    <select name="airline" id="airline" required="required">
                                                        <option value="">--Select--</option>
                                                        <option value="Jet Airways">Jet Airways</option>
                                                        <option value="IndiGo">IndiGo</option>
                                                        <option value="Air India">Air India</option>
                                                        <option value="Multiple carriers">Multiple carriers</option>
                                                        <option value="SpiceJet">SpiceJet</option>
                                                        <option value="Vistara">Vistara</option>
                                                        <option value="Air Asia">Air Asia</option>
                                                        <option value="GoAir">GoAir</option>
                                                        <option value="Multiple carriers Premium economy">Multiple carriers Premium economy </option>                                                       
                                                        <option value="Jet Airways Business">Jet Airways Business</option>
                                                        <option value="Vistara Premium economy">Vistara Premium economy</option>
                                                        <option value="Trujet">Trujet</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                            
                </div>
               
     </div></center>
                
                <div class="form-group">
                

                    <left><button id="sub" type="submit ">Calculate Fare</button></left>
                
    
</form>
</div></center>

           
            <center><h3><p style="color:white">{{ prediction_text }}</p></h3></center>
    
    
            <br>
            <br>
    
        </div>
        
        <style>
            body {
                padding: 0px;
                font-family: Arial black, Charcoal, sans-serif;
                background: url("https://ei.marketwatch.com/Multimedia/2019/02/25/Photos/ZQ/MW-HE536_airpla_20190225131547_ZQ.jpg?uuid=5fa81d1a-3929-11e9-9462-ac162d7bc1f7") no-repeat center fixed; 
                background-size: cover;
            }
    
            #Source {
                width: 240px;
                height: 35px;
                text-align: center;
                border-radius: 10px;
                font-size: 15px;
            }
            
            #Source:hover {
                background-color: #2593DF;
            }
    
    
            #Destination {
                width: 240px;
                height: 35px;
                text-align: center;
                border-radius: 10px;
                font-size: 15px;
            }
            
            #Destination:hover {
                background-color: #2593DF;
            }
    
    
            #stops {
                width: 80px;
                height: 30px;
                text-align: center;
                border-radius: 10px;
                font-size: 15px;
            }
            
            #stops:hover {
                background-color: #2593DF;
            }
    
    
            #airline {
                width: 240px;
                height: 35px;
                text-align: center;
                border-radius: 10px;
                font-size: 15px;
            }
            
            #airline:hover {
                background-color: #2593DF;
            }
    
    
            #sub {
                width: 250px;
                height: 35px;
                text-align: center;
                border-radius: 14px;
                font-size: 15px;
                margin: auto;
                display: block;
    
            }
            
            #sub:hover {
                background-color: #7CE765;
            }
    
        </style>
       
                
    
        {% endblock body %}

        {% block custom_js %}
        <!-- Custom JS -->
        
        <script src="{{ url_for('static', filename='script/index.js') }}"></script>
        {% endblock custom_js %}